{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<h1>Главная страница</h1>
<div class="li">Lorem ipsum dolor sit amet.</div>
<div class="li">Atque dolorem eius iusto ut?</div>
<div class="li">Dolor excepturi quam qui veniam?</div>
<div class="li">Animi consectetur nihil repellat similique.</div>
<div class="li">Iste quae sunt temporibus ut!</div>
<div class="li">Autem cupiditate dolore quae tempore.</div>
<div class="li">Aliquid distinctio ipsa minima perspiciatis.</div>
<div class="li">Dolorem expedita magni recusandae reprehenderit.</div>
<div class="li">Alias consectetur laboriosam odit provident.</div>
<div class="li">Esse harum laboriosam nisi quas?</div>
<div class="li">Adipisci eligendi esse officia perspiciatis.</div>
<div class="li">Amet dolorum ea fugit odio.</div>
<div class="li">Delectus eius ipsa magnam quo.</div>
<div class="li">Atque dolore exercitationem quo voluptates!</div>
<div class="li">Eum exercitationem inventore mollitia neque.</div>
<div class="li">Aut culpa nihil praesentium sunt!</div>
<div class="li">Earum sed veniam vitae! Ullam?</div>
<div class="li">Cumque dolor recusandae sapiente vitae.</div>
<div class="li">Cum minima minus quasi sapiente!</div>
<div class="li">Adipisci aliquid distinctio officiis qui.</div>
<div class="li">Ad eius modi perferendis reprehenderit!</div>
<div class="li">Aperiam illo labore praesentium ullam!</div>
<div class="li">Autem dolorem eum placeat. Quis?</div>
<div class="li">Id necessitatibus quos repellat voluptatem?</div>
<div class="li">Accusantium deleniti libero sequi! Commodi?</div>
<div class="li">Dolorem eveniet incidunt itaque repellendus.</div>
<div class="li">Facilis fugiat nesciunt nostrum vero.</div>
<div class="li">Atque doloremque molestias quas repellat.</div>
<div class="li">Debitis deserunt dicta magnam optio!</div>
<div class="li">Autem ipsam necessitatibus obcaecati quasi!</div>
<div class="li">Maiores obcaecati quasi vero voluptas!</div>
<div class="li">Odio reiciendis sint veritatis voluptatem!</div>
<div class="li">Dignissimos eaque recusandae sunt vel?</div>
<div class="li">Esse est magnam repellendus tempore.</div>
<div class="li">Alias debitis hic in quia?</div>
<div class="li">Cupiditate doloribus eius exercitationem repellat?</div>
<div class="li">Beatae fugit ut vero voluptates.</div>
<div class="li">Adipisci commodi ducimus quaerat quod!</div>
<div class="li">Deserunt mollitia non sed vero?</div>
<div class="li">Amet asperiores et tenetur veritatis!</div>
<div class="li">Deserunt distinctio nemo totam vitae!</div>
<div class="li">Impedit provident, sit. Ex, iste!</div>
<div class="li">Blanditiis ipsum quia recusandae reprehenderit?</div>
<div class="li">Error nesciunt tempore totam vero.</div>
<div class="li">Animi beatae earum nesciunt numquam!</div>
<div class="li">Aspernatur cupiditate excepturi provident tenetur.</div>
<div class="li">At autem in laudantium libero.</div>
<div class="li">Deleniti earum eos laborum repellat?</div>
<div class="li">Corporis culpa quia quisquam velit?</div>
<div class="li">Cum cumque deserunt ducimus expedita!</div>
<div class="li">Autem dolor doloremque laudantium sed!</div>
<div class="li">Cupiditate ipsum non ratione repellat?</div>
<div class="li">Doloribus incidunt itaque soluta suscipit.</div>
<div class="li">Deserunt id iure natus provident!</div>
<div class="li">Distinctio dolore nesciunt nihil omnis!</div>
<div class="li">Consequuntur ea iure officiis qui.</div>
<div class="li">Molestias quae, soluta. Fuga, velit!</div>
<div class="li">Asperiores fugit neque perspiciatis vel.</div>
<div class="li">Nostrum perferendis saepe similique voluptatem.</div>
<div class="li">Accusantium aut et maiores temporibus.</div>
{% endblock %}